<% include header %>


	<div class="section">
		<div class="row">
<% for(var i=0; i<repos.length; i++){ %>

		  <div class="col s12 m4">
		    <div class="card medium">
		      <div class="card-image">
		        <img class="materialboxed" src="https://raw.githubusercontent.com/Rosalila3DPrinting/<%= repos[i].name %>/master/image.png">
		        <span class="card-title"><%= repos[i].name %></span>
		      </div>
		      <div class="card-content">
		        <p><%= repos[i].description %></p>
		      </div>
		      <div class="card-action">
          <form action="/print/<%= repos[i].name %>" method="get">
            <div class="input-field col s8">
              <i class="material-icons prefix">print</i>
              <input id="icon_prefix" type="text" class="validate" name="api_key">
              <label for="icon_prefix">Api Key</label>
            </div>
          </form>
		        <a href="<%= repos[i].homepage %>">
              <i class="material-icons">home</i>
						</a>
						<a href="/thing/<%= repos[i].name %>">
              <i class="material-icons">zoom_in</i>
						</a>
		      </div>
		    </div>
		  </div>

<% } %>
		  </div>
  </div>

<% include footer %>
